.accordion-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.icon-container {
  width: 40px; /* Larghezza del contenitore */
  height: 40px; /* Altezza del contenitore */
  border-radius: 50%; /* Rende il contenitore rotondo */
  display: flex; /* Per centrare il contenuto */
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  color: #fff; /* Colore del testo/icona */

  & ion-icon {
    font-size: 30px; /* Dimensione dell'icona */
  }
}

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.start-item {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: row;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

// FIXME: capire perch+ sta roba non funziona
::ng-deep ion-accordion .item-inner {
  border-style: none !important;
}
