<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backToCategories()">
        <ion-icon
          slot="start"
          ios="chevron-back-outline"
          md="chevron-back-sharp"
        ></ion-icon>
        Back</ion-button
      >
    </ion-buttons>
    <ion-title>Nuova Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <app-dynamic-form
      [form]="newCategoryForm"
      [currency]="currency"
    ></app-dynamic-form>
  </div>
</ion-content>
