<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Impostazioni</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-list>
      <ion-item
        (click)="navigateTo(item.redirectTo)"
        lines="none"
        detail="false"
        *ngFor="let item of settings"
      >
        <ion-icon
          slot="start"
          [ios]="item.icon + '-outline'"
          [md]="item.icon + '-sharp'"
        >
        </ion-icon
        ><ion-label>{{ item.name }}</ion-label>
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
