ion-card-content {
  height: 250px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fab-container {
  bottom: 15px;
  right: 10px;
}
