<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="segment">
      <ion-button size="small" expand="block">Entrate</ion-button>
      <ion-button size="small" expand="block">Spese</ion-button>
    </div>
    <div class="categories-container">
      <div class="item" *ngFor="let item of categories">
        <ion-button shape="round">
          <ion-icon
            slot="icon-only"
            [ios]="item.icon.label + '-outline'"
            [md]="item.icon.label + '-sharp'"
          >
          </ion-icon
        ></ion-button>
        <small>{{item.name}}</small>
      </div>
      <div class="item add">
        <ion-button shape="round" (click)="goToNewCategory()">
          <ion-icon
            slot="icon-only"
            ios="add-outline"
            md="add-sharp"
          ></ion-icon>
        </ion-button>
        <small>Crea</small>
      </div>
    </div>
  </div>
</ion-content>
