<ion-header [translucent]="true">
  <ion-toolbar>
    <!--  todo: ingrandire button? -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToTransactionList()">
        <ion-icon
          aria-hidden="true"
          slot="start"
          ios="receipt-outline"
          md="receipt-sharp"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="title-container">
        <ion-button fill="clear" id="open-modal">
          <ion-icon
            slot="start"
            aria-hidden="true"
            ios="cash-outline"
            md="cash-sharp"
          ></ion-icon>
          Totale
          <ion-icon
            slot="end"
            aria-hidden="true"
            ios="caret-down-outline"
            md="caret-down-sharp"
          ></ion-icon
        ></ion-button>
        <div id="balance-amount">
          {{balance.amount}} {{balance.currency.symbol}}
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="segment-container">
    <!-- <strong class="capitalize">{{ folder }}</strong> -->
    <ion-segment>
      <ion-segment-button value="first" content-id="first">
        <ion-label>SPESE</ion-label>
      </ion-segment-button>
      <ion-segment-button value="second" content-id="second">
        <ion-label>ENTRATE</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-segment-view>
      <ion-segment-content id="first">
        <span style="display: block"
          ><app-chart-container></app-chart-container
        ></span>
        <app-list-of-accordions
          [accordions]="expenses"
        ></app-list-of-accordions>
      </ion-segment-content>
      <ion-segment-content id="second">
        <span style="display: block"
          ><app-chart-container></app-chart-container
        ></span>
        <app-list-of-accordions [accordions]="incomes"></app-list-of-accordions>
      </ion-segment-content>
    </ion-segment-view>
  </div>

  <!-- * modale -->
  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <div class="wrapper">
        <h1>Seleziona conto</h1>

        <ion-toggle (ionChange)="onToggleChange($event)"
          >Nascondi il saldo</ion-toggle
        >

        <ion-list>
          <ion-radio-group value="start">
            <ion-item *ngFor="let item of accounts">
              <ion-radio justify="start" labelPlacement="end"
                ><span>{{item.accountType}}</span>
                <span style="display: block"
                  >{{balance.amount}} {{balance.currency.symbol}}</span
                ></ion-radio
              >
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
