<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="start" ios="cash-outline" md="cash-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Grafici</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div id="segment-container">
      <!-- FIXME: segment non va bene devo trovare altra soluzione -->
      <ion-segment>
        <ion-segment-button value="first" content-id="first">
          <ion-label>GENERALE</ion-label>
        </ion-segment-button>
        <ion-segment-button value="second" content-id="second">
          <ion-label>SPESE</ion-label>
        </ion-segment-button>
        <ion-segment-button value="third" content-id="third">
          <ion-label>ENTRATE</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-segment-view>
        <ion-segment-content id="first">
          <div class="chart-container">
            <app-chart-container style="width: 100%"></app-chart-container>
          </div>
          <div class="bottom-section">
            <app-list-of-accordions
              [accounts]="accounts"
              style="width: 100%"
            ></app-list-of-accordions>
          </div>
        </ion-segment-content>
        <ion-segment-content id="second">
          <span style="display: block"
            ><app-chart-container></app-chart-container
          ></span>
          <div class="bottom-section">
            <app-list-of-accordions
              [accounts]="accounts"
              style="width: 100%"
            ></app-list-of-accordions>
          </div>
        </ion-segment-content>
        <ion-segment-content id="third">
          <span style="display: block"
            ><app-chart-container></app-chart-container
          ></span>
          <div class="bottom-section">
            <app-list-of-accordions
              [accounts]="accounts"
              style="width: 100%"
            ></app-list-of-accordions>
          </div>
        </ion-segment-content>
      </ion-segment-view>
    </div>
  </div>
</ion-content>
